{% extends "base.html" %}
{% block content %}
<a href="{% url "home:add_assmbly" company_name %}" class="btn btn-info" > Add </a>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
    {% for assembl in assembly %}
        
  
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a href="{% url "home:assembly_people" assembl.id %}">{{ assembl.name }}</a></td>
        <td>#</td>
        <td>#</td>
      </tr>
      {% endfor %}
  </table>


{% endblock content %}